

<form action="/products/<%= @product.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input id="title" type="text" name="title" value="<%= @product.title %>">
<input id="content" type="text" name="content" value="<%= @product.content %>">
<input id="content" type="text" name="content" value="<%= @product.content %>">
<input id="content" type="text" name="content" value="<%= @product.content %>">
<input id="submit" type="submit" value="submit">
</form>
