<div class="container">
<% @products.each do |product| %>
    <p class="><%= product.description %></p>
    <%= product.rating %>
    <%= product.price %>
    <%= product.reorder %>
    <%= product.user_id %> 
    <% end %>
</div>
