<div class="container">
<% @products.each do |product| %>
    <p><a href="/products/<%=product.id%>"><%= product.description %></a></p>
    <%= product.rating %>
    <%= product.price %>
    <%= product.reorder %>
    <%= product.user_id %> 
    <% end %>
</div>
