<h1><%= @product.description %></h1>
<p><%= @product.rating %></p>
<p><%= @product.price %></p>
<p><%= @product.reorder %></p>
# <p><%= @product.user_id %></p>
<form method="post" action="/products/<%= @product.id %>/">
  <input id="hidden" type="hidden" value="delete" name="_method">
  <input id="hidden" type="hidden" value="edit" name="_method">
  <input id="hidden" type="hidden" value="save" name="_method">
  <input type="submit" value="Delete">
  <input type="submit" value="Edit">
  <input type="submit" value="Save">
</form>

